#cc3b33 #fff .font1 {
  font-family: "Manrope", sans-serif;
}
.font2 {
  font-family: "Instrument Serif", serif;
  /* font-weight: 400; */
  font-style: normal;
}
.font3 {
  font-family: "Pattaya", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}
.font4 {
  font-family: "Inter", sans-serif;
}
h2 {
  font-size: 44px;
  letter-spacing: 1px;
}
h3 {
  font-size: 32px;
}
.sec-2 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 1250px) {
  h2 {
    font-size: 32px;
  }
}
